.navbar {
  list-style-type: none;
  background-color: rgb(63, 159, 189);
  margin: 10px;
  padding:10px;
  display: flex;
  justify-content: space-between;
}

#home{
  padding:30px;
  color: rgb(181, 217, 225);
  cursor: pointer;
}

#about{
  padding: 30px;
  color:  rgb(181, 217, 225);
  cursor: pointer;
  align-items: right;
}

